<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by5388.ditiezu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DitiezuApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_dtz"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".article.list.ArticleListActivityBase"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".temp.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TempActivity"
            android:theme="@style/AppTheme_Material">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".publish.PublishActivity"
            android:theme="@style/AppTheme_Material">


        </activity>
        <activity android:name=".detail.ArticleDetailActivity" />
        <activity
            android:name=".me.MeActivity"
            android:label="@string/me" />
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".start.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/StartTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/search">

        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/setting">

        </activity>

        <service
            android:name=".service.NoticeService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />

        </provider>

    </application>

</manifest>